<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>
    <section>
    	<div class="container">
        <div class="row">
          <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 mt-3">
            <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
             <p class="text-center" th:text="${session.message.content}"></p>
             <th:block th:text="${#session.removeAttribute('message')}"></th:block>
            </div>
            <form novalidate="novalidate" class="rounded shadow p-5" action="" th:action="@{/do_register}" method="post" th:object="${user}">
              <div class="text-center">
                <h3 class="text fw-bolder fs-4 mb-2">Create an Account</h3>
                <div class="fw-normal text-muted mb-2">
                  Already have an account? <a href="" th:href="@{/signin}" class="text-primary fw-bold text-decoration-none">Sign in here</a>
                </div>
              </div>
              <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Your Name</label>
                  <input type="text" class="form-control" id="name_field" name="name" th:value="${user.name}" placeholder="Enter here" th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}" required>
                  <div class="invalid-feedback" th:each="e: @{#fields.errors('name')}" th:text="${e}"></div>
              </div>
              <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Your Email</label>
                  <input type="email" class="form-control" id="email_field" name="email" th:value="${user.email}" placeholder="Enter here" required>
              </div>
              <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Your Password</label>
                  <input type="password" class="form-control" id="password_field" name="password" th:value="${user.password}" placeholder="Enter here" required>
              </div>
              <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">About</label>
                  <textarea class="form-control" id="about_field" name="about" th:text="${user.about}" rows="3" placeholder="Enter something about yourself" required></textarea>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Image</label>
                <input type="file" class="form-control" id="img_field" name="imageURL" th:value="${user.imageURL}">
            </div>
              <div class="form-check d-flex align-items-center mb-3">
                <input class="form-check-input" type="checkbox" id="gridCheck" name="aggrement">
                <label class="form-check-label ms-2" for="gridCheck">
                  I Agree <a href="#">Terms and conditions</a>.
                </label>
            </div>
              <div class="text-center">
                  <button type="submit" class="btn btn-success">Submit</button>
                  <button type="reset" class="btn btn-danger">Reset</button>
              </div>
          </form>
          </div>
        </div>
      </div>
    </section>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>